Repository yoonlight/react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{tsx,ts,scss,html}": "prettier --write",
  "*.scss": "stylelint --fix"
}

ci(github-actions): add workflow
  .github/workflows/main.yml
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

build(npm): add firebase-hooks (#1)
  package.json
  yarn.lock
Due: none

feat: add auth function (#1)
  .env.sample
  .gitignore
  src/firebase.ts
Due: prettier --write

feat(page): add login page (#1)
  src/pages/auth/Login.scss
  src/pages/auth/Login.tsx
Due: prettier --write, stylelint --fix

feat(page): add register (#1)
  src/pages/auth/Register.scss
  src/pages/auth/Register.tsx
Due: prettier --write, stylelint --fix

feat(page): add reset (#1)
  src/pages/auth/Reset.scss
  src/pages/auth/Reset.tsx
Due: prettier --write, stylelint --fix

feat(router): add page (#1)
  src/main.tsx
  src/router.tsx
Due: prettier --write

feat(page): add logout to main (#1)
  src/App.css
  src/App.tsx
Due: prettier --write

fix(page): change incorrect import name
  src/pages/auth/Login.tsx
Due: prettier --write

docs(readme): add reference [skip ci]
  README.md
Due: none

feat(page): add email verfication (#3)
  src/firebase.ts
  src/pages/auth/Email.scss
  src/pages/auth/Email.tsx
  src/router.tsx
Due: prettier --write, stylelint --fix

feat(router): add to check email verified (#3)
  src/App.tsx
  src/pages/auth/Login.tsx
Due: prettier --write

build(npm): add axios (#5)
  package.json
  yarn.lock
Due: none

feat(api): add auth (#5)
  src/api/api.ts
  src/api/auth.interface.ts
  src/api/auth.ts
Due: prettier --write

feat: change firestore into api
  src/App.tsx
  src/firebase.ts
Due: prettier --write

build(npm): update dependency (#5)
  package.json
  yarn.lock
Due: none

feat: change redux into recoil (#5)
  src/main.tsx
  src/store.ts
Due: prettier --write

feat(auth): add state (#5)
  src/api/auth.ts
  src/features/auth/auth.action.ts
  src/features/auth/auth.api.ts
  src/features/auth/auth.interface.ts
  src/features/auth/auth.state.ts
Due: prettier --write

feat: add state to api header (#5)
  src/api/api.ts
  src/api/index.ts
Due: prettier --write

feat(user): create user feature (#5)
  src/features/user/user.action.ts
  src/features/user/user.api.ts
  src/features/user/user.interface.ts
  src/features/user/user.state.ts
Due: prettier --write

refactor: move actions to auth (#5)
  src/firebase.ts
Due: prettier --write

feat(page): add recoil state (#5)
  src/App.tsx
  src/pages/auth/Email.tsx
  src/pages/auth/Login.tsx
  src/pages/auth/Register.tsx
  src/pages/auth/Reset.tsx
Due: prettier --write

refactor(css): seperate auth style (#7)
  src/index.css
  src/index.scss
  src/pages/auth/_button.scss
  src/pages/auth/_input.scss
  src/pages/auth/index.scss
Due: prettier --write, stylelint --fix

refactor(css): change language and classname (#7)
  src/main.tsx
  src/pages/auth/Email.scss
  src/pages/auth/Email.tsx
  src/pages/auth/Login.scss
  src/pages/auth/Login.tsx
  src/pages/auth/Register.scss
  src/pages/auth/Register.tsx
  src/pages/auth/Reset.scss
  src/pages/auth/Reset.tsx
Due: prettier --write, stylelint --fix

refactor(css): change file name (#7)
  src/App.scss
  src/App.tsx
Due: prettier --write, stylelint --fix

build(npm): update dependency (#9)
  package.json
  yarn.lock
Due: none

feat: add svg plugin (#9)
  src/vite-env.d.ts
  vite.config.ts
Due: prettier --write

feat(auth): add kakao login feature (#9)
  src/features/auth/auth.action.ts
  src/features/auth/auth.api.ts
  src/features/auth/auth.interface.ts
Due: prettier --write

feat(page): add kakao login to auth (#9)
  .env.sample
  src/assets/kakao-svgrepo-com.svg
  src/pages/auth/Login.tsx
  src/pages/auth/Register.tsx
  src/pages/auth/_button.scss
Due: prettier --write, stylelint --fix

fix: fix build error to remove return void
  src/pages/auth/Email.tsx
Due: prettier --write

feat: add header to auth page (#10)
  src/components/header/BackHeader.tsx
  src/components/header/index.scss
  src/components/header/index.ts
  src/index.scss
  src/pages/auth/Layout.tsx
  src/router.tsx
Due: prettier --write, stylelint --fix
